Source: commons-io2
Section: java
Priority: optional
Maintainer: Gasol Wu <gasol.wu@gmail.com>
Build-Depends: debhelper (>= 8), default-jdk, maven-repo-helper (>= 1.7)
Build-Depends-Indep: ant, junit4
Standards-Version: 3.9.2
Homepage: http://commons.apache.org/io/
Vcs-Svn: http://svn.apache.org/repos/asf/commons/proper/io/trunk
Vcs-Browser: http://svn.apache.org/viewvc/commons/proper/io/trunk

Package: libcommons-io2-java
Architecture: all
Depends: ${misc:Depends}
Suggests: libcommons-io2-java-doc
Description: Common useful IO related classes
 Commons-IO contains utility classes, stream implementations, file filters and 
 endian classes.

Package: libcommons-io2-java-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Common useful IO related classes - documentation
 Commons-IO contains utility classes, stream implementations, file filters and 
 endian classes.
 .
 This package provides the API documentation for the Commons-IO library.
